
.content {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
* {
  border-radius: 0 !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333;
  font-size: 11pt;
  line-height: 1.6;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

.table{
    padding: 5px;
    width: 100%;
    height: 50vh;
}

th{
    font-size: 18px;
}

.headline{
    text-align: center;
    font-size: 26px;
    color: #064b44;
}

.headline h2{
    margin: 5px 0px;
}

.panel-title{
    margin: 0px 8px;
}

.link p{
  text-align: center;
}