
.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    height: 100%;
}

.mb-md-5{
  margin-bottom: -1rem !important;
}
.divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
